* {
    padding: 0px;
    margin: 0px;
}


.mainBody {
    background-color: #BBC9C4;
}

h1 {
    padding: 40px;
    font-weight: bolder;
    padding-left: 45px;
}

.collapse {
    display: flex;
    justify-content: end;
}

.navbar-nav {
    padding-right: 40px;
}

.nav-link {
    color: black;
}

.card img {
    width: 8rem;
    
}

.card-body {
    background-color: #BBC9C4;
}

#join {
    background-color: #E88077;
}





